@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
 margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  color: #222;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Navbar */
.navbar {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  backdrop-filter: blur(6px);
  z-index: 1000;
}


.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navbar a {
  margin-left: 1.5rem;
  text-decoration: none;
  border: 1px solid #eee2e2;
  padding: 0.5rem 1.0rem;
  margin: 0 0.5rem;
  text-decoration: none;
  border-radius: 30px;
  
  color: #333;
}

/* Hero */
.hero {
   padding: 7rem 0;
  text-align: center;
}

hero h2 {
  font-size: 3rem;
  font-weight: 700;
}

.hero p {
  max-width: 650px;
  margin: 1.5rem auto 0;
  font-size: 1.1rem;
  color: #555;
}

.hero span {
  color: #2563eb;
}

.buttons {
  margin-top: 3rem;
}

.btn {
  padding: 0.9rem 1.8rem;
  margin: 0 0.5rem;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.btn:hover {
  transform: translateY(-5px);
}

.primary {
  background: #2563eb;
  color: #fff;
}

.secondary {
  border: 1px solid #2563eb;
  color: #2563eb;
}


/* Sections */
.section {
  padding: 6rem 0;
}

.section.light {
  background: #f9fafb;
}

.section h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skills-grid ul {
  list-style: none;
}
skills-grid li {
  padding: 8px 0;
}


/* Projects */
.project {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(17, 16, 16, 0.05);
}


/* Footer */
.footer {
  text-align: center;
  padding: 2rem;
  border-top: 1px solid #eee;
  font-size: 0.9rem;
}

/* education */
.edu-item {
  margin-bottom: 2rem;
}

.edu-item h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.edu-item p {
  color: #555;
  margin: 0.3rem 0;
}

.edu-item span {
  font-size: 0.9rem;
  color: #777;
}

.edu-item:not(:last-child) {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eaeaea;
}

/* exp-item */
.exp-item {
  margin-bottom: 2.5rem;
}

.exp-item h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.exp-item p {
  margin: 0.3rem 0 0.8rem;
  color: #555;
}

.exp-item ul {
  padding-left: 1.2rem;
}

.exp-item li {
  margin-bottom: 0.5rem;
  color: #444;
}


/* contact Buttons */
.contact-center {
  text-align: center;
}

.contact-text {
  max-width: 600px;
  margin: 1rem auto 2.5rem;
  color: #555;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn.whatsapp {
  background: #25D366;
  color: #fff;
  border: none;
}

.btn.whatsapp:hover {
  opacity: 0.9;
}

.contact-github {
  margin-top: 2rem;
  font-size: 0.95rem;
}
