* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.6;
  color: #1f2933;
  background-color: #ffffff;
}

/* GENERAL */
.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

.section {
  padding: 70px 0;
}

.section.light {
  background-color: #f8fafc;
}


h2, h3 {
  color: #0f172a;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
  color: #334155;
}

/* HERO */
.hero {
  background: #0f172a;
  color: #ffffff;
  padding: 90px 0;
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
  color: #cbd5e1;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.subtitle {
  font-size: 1.2rem;
  margin: 15px 0;
  color: #cbd5e1;
}

.intro {
  max-width: 650px;
  margin: 20px auto;
  color: #e2e8f0;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  margin: 5px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}

.btn.contact {
  border:2px solid white;
  color: #2563eb;
}

.btn.primary {
  background: #2563eb;
  color: white;
}

.btn.secondary {
  border: 2px solid #2563eb;
  color: white;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skills-grid ul {
  list-style: none;
}

.skills-grid li {
  padding: 8px 0;
}

/* PROJECTS */
.project-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.project-card .tech {
  font-size: 0.9rem;
  color: #475569;
}

.project-card .link {
  display: inline-block;
  margin-top: 15px;
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}

/* EXPERIENCE */
.experience {
  margin-bottom: 30px;
}

/* FOOTER */
.footer {
  background: #0f172a;
  color: #cbd5e1;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 2.2rem;
  }
}
